<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Menu</h1>
    <a routerLink="/books" class="block aaa">Books</a>
    <!-- <div *ngIf="getUser()">
        <a routerLink="/my-books" class="block aaa">My Books</a>
        <div *ngIf="getUser().role.name=='ROLE_ADMIN'">
            <a routerLink="/bookDisableList" class="block aaa">Book Disable List</a>
        </div>
        <a routerLink="/createBook" class="block aaa">Create Book</a>
    </div> -->
    <div *ngIf="readLocalStorage() ; else logout" class="aaa">
        <a routerLink="/my-books" class="block aaa">My Books</a>
        <div *ngIf="getUser() && getUser().role.name=='ROLE_ADMIN'">
            <a routerLink="/bookDisableList" class="block aaa">Book Disable List</a>
            <a routerLink="/books-admin" class="block aaa">Admin Books</a>
        </div>
        <a routerLink="/createBook" class="block aaa">Create Book</a>
        <button pButton type="button" label="Logout" class="ui-button-rounded ui-button-danger button" (click)="logouta()"></button>
    </div>
    <ng-template #logout>
        <button pButton type="button" label="Login" class="ui-button-rounded ui-button-success button" (click)="login()"></button>
    </ng-template>
</p-sidebar>

<button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-list"></button>
<router-outlet>
</router-outlet>