<!-- <ul class="list-style">
    <ng-container *ngFor="let book of books">
        <div>
            <a routerLink="/editBook/{{book.id}}">
                <span> {{book.title}} </span>
            </a>

            <p-inputSwitch [(ngModel)]="book.enabled"></p-inputSwitch>
        </div>
    </ng-container>
</ul> -->
<p-table [columns]="cols" [value]="books" dataKey="title">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                <!-- <div *ngIf="col.header!=='Description'"> -->
                {{col.header}}
                <!-- </div> -->
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns">
                <!-- <div *ngIf="col.header!=='Description'"> -->
                <div *ngIf="col.header=='Enable'; else show">
                    <p-inputSwitch [(ngModel)]="rowData[col.field]"></p-inputSwitch>
                </div>
                <ng-template #show>
                    {{rowData[col.field]}}
                </ng-template>
                <!-- </div> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
            </td>
        </tr>
    </ng-template>
</p-table>

<button pButton type="button" label="Save" class="ui-button-rounded ui-button-success margin" (click)="save()"></button>