<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class="form sign-up">
    <h2>Time to feel like home,</h2>
    <label class="col-lg-6">
    <span>First Name</span>
    <input type="text" class="form-control" [(ngModel)]="first_name"/>
    <div *ngIf="!first_name">
        <p-message severity="error" text="First Name is required"></p-message>
    </div>
</label>
    <label class="col-lg-6">
    <span>Last Name</span>
    <input type="text" class="form-control" [(ngModel)]="last_name"/>
    <div *ngIf="!last_name">
        <p-message severity="error" text="Last Name is required"></p-message>
    </div>
</label>
    <label class="block">
    <span>Email</span>
    <input type="email" class="form-control block" [(ngModel)]="email"/>
    <div *ngIf="!email">
        <p-message severity="error" text="Email is required"></p-message>
    </div>
</label>
    <label class="block">
    <span>Password</span>
    <input type="password" class="form-control block" [(ngModel)]="password"/>
    <div *ngIf="!password">
        <p-message severity="error" text="Password is required"></p-message>
    </div>
</label>
    <button type="button" class="submit" (click)="signUp()">Sign Up</button>
</div>