$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;
@mixin signUpActive {
    .cont.s--signup & {
        @content;
    }
}

.form {
    position: relative;
    width: $formW;
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 30px 0;
}

button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: darken(#d3dae9, 20%);
    span {
        font-weight: bold;
        color: darken(#768cb6, 20%);
    }
}

.block {
    display: block;
    margin-left: 7px;
}