<div *ngIf="book">
    <h1>{{book.title}}</h1>
    <div class="back-ground">
        <div *ngIf="user && book.user.email==user.email || user.role.name=='ROLE_ADMIN'" style="float: right; display: block;">
            <button pButton type="button" label="Edit" class="ui-button-rounded ui-button-warning" (click)="editBook(book.id)"></button>
            <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger" (click)="deleteBook(book.id)"></button>
        </div>
        <span class="color">{{book.createdAt | timeAgo}}</span>
        <span class="block color">Author: {{book.author}}</span>
        <span class="block color">by user: {{book.user.email}}</span>
        <div innerHtml="{{book.description}}"></div>
    </div>
    <p class="block"></p>
    <div *ngIf="comments">
        <h2>Comment</h2>
        <div *ngIf="token">
            <textarea pInputTextarea [(ngModel)]="message" placeholder="Comment" style="width: 100em; height: 50px;"></textarea>
            <button pButton type="button" label="Comment" class="ui-button-rounded" (click)="postComment()" style="display: inline" [disabled]="!message"></button>
        </div>
        <div *ngFor="let comment of comments" class="margin">
            <p-fieldset legend="{{comment.user.email}}">
                <div *ngIf="comment.id == editId; else showComment">
                    <textarea pInputTextarea [(ngModel)]="comment.message" placeholder="Comment" style="width: 100em; height: 50px; float: left;"></textarea>
                    <button pButton type="button" label="Save" class="ui-button-rounded ui-button-success" (click)="saveEdit(comment)" [disabled]="!comment.message"></button>
                </div>

                <ng-template #showComment>
                    <div *ngIf="user.id==comment.user.id || user.role.name=='ROLE_ADMIN' ; else showEdit">
                        <div style="float: right; display: block;">
                            <button pButton type="button" label="Edit" class="ui-button-rounded ui-button-warning" (click)="setEditId(comment.id)"></button>
                            <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger" (click)="delete(comment.id)"></button>
                        </div>
                    </div>
                    <p>{{comment.message}}</p>
                    <p class="float" style="display: block">{{comment.time | timeAgo}}</p>
                </ng-template>
            </p-fieldset>
        </div>
    </div>
</div>