.block {
    display: block;
}

.color {
    color: rgba(0, 0, 0, 0.5);
}

.margin {
    margin-bottom: 10px;
}

.float {
    display: block;
    float: right;
}

.back-ground {
    background-color: rgba(0, 0, 0, 0.05);
    border: black 20px;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}