<input type="text" pInputText [(ngModel)]="search" placeholder="Search" />
<button pButton type="submit" (click)="sendRequestPage()" icon="pi pi-search"></button>

<p-table [columns]="cols" [value]="bookShows" dataKey="title">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                <a (click)="sortBy(col.header)">{{col.header}}</a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                <div *ngIf="col.header=='Enable'; else show">
                    <span class="dashicons dashicons-align-center">
                        <p-inputSwitch [(ngModel)]="rowData.enabled" (click)="save(rowData.id)"></p-inputSwitch>
                    </span>
                </div>
                <ng-template #show>
                    <div *ngIf="col.header=='Title'; else showEditDelete">
                        <a routerLink="../bookDetail/{{rowData.id}}">
                            {{rowData[col.field]}}    
                        </a>
                    </div>
                    <ng-template #showEditDelete>
                        <div *ngIf="col.header=='Edit/Delete'; else show1">
                            <button pButton type="button" label="Edit" class="ui-button-warning button" (click)="editBook(rowData.id)"></button>
                            <button pButton type="button" label="Delete" class="ui-button-danger button" (click)="deteleBook(rowData.id)"></button>
                        </div>
                    </ng-template>
                    <ng-template #show1>
                        <div *ngIf="rowData[col.field]==null || rowData[col.field]==0 ; else showField">
                            <p style="text-align:center">-</p>
                        </div>
                        <ng-template #showField>
                            <p style="text-align:center">{{rowData[col.field]}}</p>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length-1">
                <div innerHtml="{{rowData.description}}"></div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="selectedItemsPerPage" [totalRecords]="this.books.length" [rowsPerPageOptions]="[5,10,20]" (onPageChange)="paginate($event)">
</p-paginator>