<p-table [columns]="cols" [value]="books" dataKey="title">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
                <div *ngIf="col.header=='Title'; else show">
                    <a routerLink="../editBook/{{rowData.id}}">
                                {{rowData[col.field]}}    
                            </a>
                </div>
                <ng-template #show>
                    <div *ngIf="rowData[col.field]==null || rowData[col.field]==0 ; else showField">
                        <p style="text-align:center">-</p>
                    </div>
                    <ng-template #showField>
                        <p style="text-align:center">{{rowData[col.field]}}</p>
                    </ng-template>
                </ng-template>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
            </td>
        </tr>
    </ng-template>
</p-table>